$ff-lato: 'Lato';

$fs-100: 12px;
$fs-200: 14px;
$fs-300: 16px;
$fs-400: 18px;
$fs-500: 20px;
$fs-600: 22px;
$fs-700: 24px;
$fs-800: 26px;
$fs-900: 28px;

$fw-light: 300;
$fw-regular: 400;
$fw-bold: 700;
