.main-header {
  @include absolute(top 0 left 0);
  width: 100%;

  &__nav {
    display: inline-block;
  }

  &__nav-link {
    display: inline-block;
    position: relative;
    padding: 15px;
    margin: 0 15px;
    color: $c-white-smoke;
    text-transform: uppercase;
    font-size: $fs-200;
    font-weight: $fw-light;
    z-index: 1;

    &:hover,
    &:focus{
      color: $c-white-smoke;
      text-decoration: none;

      &::after {
        width: 100%;
      }
    }

    &::after {
      @include absolute(bottom 0 left 0);
      @include sizing(0 2px);
      content: '';
      background-color: $c-pink-orange;
      transition: width .3s ease;
    }
  }
}
