.v-careers {
  position: relative;

  &::before {
    @include fixed(top 0 left 0);
    @include sizing(100%);
    z-index: -1;
    content: '';
    background: linear-gradient(rgba($c-allports, .8), rgba($c-pink-orange, .8)),
      url(asset_path('img_mountains03.jpg')) no-repeat center;
    background-size: 100%, cover;
    will-change: transform;
  }

  &__section {
    padding: 70px 0;
    font-size: $fs-400;
    font-weight: $fw-light;
    line-height: 1.5;
    color: $c-white-smoke;

    &--first {
      display: flex;
      height: 100vh;
      text-align: center;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &--light {
      color: $c-outer-space;
      background-color: $c-white;
    }
  }

  &__section-title {
    font-weight: $fw-light;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: lower-roman;
    list-style-position: inside;

    li {
      margin: $spacer-md;
      font-size: $fs-300;
    }
  }
}
