.home {
  &__title {
    color: $c-white-smoke;
  }

  &__subtitle {
    color: $c-white-smoke;
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    font-weight: $fw-light;

    &--first {
      height: 100vh;
      background: linear-gradient(rgba($c-allports, .8), rgba($c-pink-orange, .8)),
        url(asset_path('img_mountains01.jpg')) no-repeat center fixed;
      background-size: 100%, cover;
      text-align: center;
      color: $c-white-smoke;
    }
  }
}
