.home {
  &__title {
    color: $c-white-smoke;
  }

  &__subtitle {
    color: $c-pavlova;
  }

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
    font-weight: $fw-light;

    &--first {
      padding: 200px 0;
      background: linear-gradient(transparent, rgba($c-cape-cod-darker, 1)),
        url(asset_path('img_mountains01.jpg')) no-repeat center fixed;
      background-size: 100%, cover;
      text-align: center;
      color: $c-white-smoke;
    }

    &--dark {
      background: $c-cape-cod-darker;
      color: $c-white-smoke;
    }
  }

  &__description {
    width: 100%;
    margin: 0;
    padding: 50px 0;
  }
}
